# Fill in the variables for your environment. 
# This file is ignored by git, so it won't be committed to version control. 
# Make sure to relabel this file as '.env' after filling in the appropriate values.

NAMES_FILE='names_example.txt'  # Change this to the path of your names file
PHONES_FILE='phones_example.txt'  # Change this to the path of your phone numbers file
OUTPUT_FILE='output_example.csv'  # Change this to the desired output CSV file name
